.notepad{
    height: 385px;
    background: #FFFFFF;
    border-radius: 15px;
    position: relative;
}

.note{
    font-size: 20px;
    line-height: 24px;
}

.ant-modal-content, .ant-modal-header {
    border-radius: 15px;
}

.noteText{
    color: #756F6F;
}

.addNoteBtn{
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #FF6C40;
    width: 58px;
    height: 58px;
}

.addNoteBtnText{
    font-size: 28px;
}

.modal{
    font-size: 20px;
    line-height: 24px;
}
